### Implement linear regression without using scikit learn

In [29]:
import numpy as np
x = np.array([1, 3, 5,6])
y = np.array([2, 4, 7, 10])
x_mean=np.mean(x)
y_mean=np.mean(y)
print(x_mean)
print(y_mean)

numerator=np.sum((x-x_mean)*(y-y_mean))
denominator=np.sum((x-x_mean)**2)
print(numerator)
print(denominator)

slope=numerator/denominator
print(slope)
intercept=y_mean-(slope*x_mean)
print(intercept)
y_pred=intercept+(slope*7)
print(y_pred)

3.75
5.75
22.75
14.75
1.5423728813559323
-0.03389830508474656
10.762711864406779

### Q1.Reverse a string without using slicing.

In [16]:
string = "Hello World!"
reverse=""
for i in string:
    reverse=i+reverse

reverse

'!dlroW olleH'

### Q2. Check if two strings are anagrams.

In [22]:
string1 = input("first string is :").lower()
string2 = input("second string is :").lower()
if sorted(string1)==sorted(string2):
    print("two strings are anagrams")
else:
    print('two strings are not anagrams')

first string is : how
second string is : wek

two strings are not anagrams

### Q3. Find the first non-repeating character in a string.

In [13]:
string1 = "give meg water"
for i in string1:
    if string1.count(i)==1:
        print(i)
        break

i

### Q4. Count the frequency of each character in a string.

In [29]:
string1 = "Iamdatasciencestudent"
dic={}
for i in string1.lower():
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1

dic

{'i': 2,
 'a': 3,
 'm': 1,
 'd': 2,
 't': 3,
 's': 2,
 'c': 2,
 'e': 3,
 'n': 2,
 'u': 1}

### Q5. Remove all duplicate characters from a string.

In [2]:
string1 = "Iamdatas"
s=set(string1)
s

{'I', 'a', 'd', 'm', 's', 't'}

In [3]:
string1 = "Iamdatas"
s=[]
for i in string1:
    if i not in s:
        s.append(i)

s

['I', 'a', 'm', 'd', 't', 's']

### Q6. Check if a string is a palindrome ignoring spaces and case.

In [10]:
string1 = input("enter string").strip()
if string1[0:]==string1[::-1]:
    print('this is palindrome')
else:
    print('not a palindrome')

enter string pa ap

this is palindrome

In [ ]:
# Check if a String is a Palindrome
s="helleh"
reverse=""
for i in s:
    reverse=i+reverse
if s==reverse:
    print('yes')
else:
    print('no')

### Q7. Find all substrings of a given string.

In [12]:
string="abc"
substring=[]
for i in range(len(string)):
    for j in range(i+1, len(string)+1):
        substring.append(string[i:j])

substring

['a', 'ab', 'abc', 'b', 'bc', 'c']

### Q8. Replace every vowel in a string with *.

In [21]:
string = "removevowel"
vowels = "aieouAIEOU"
for i in string:
    if i in vowels:
        string=string.replace(i,'*')

print(string)

r*m*v*v*w*l

### Q9. Find the longest word in a sentence.

In [24]:
sentence = "find the longest word in sentence"
sentence=sentence.split()
length=[]
for i in sentence:
    length.append(len(i))

print(length)
for j in sentence:
    if max(length)==len(j):
        print(j)

[4, 3, 7, 4, 2, 8]
sentence

### Q10. Capitalize the first letter of each word in a string.

In [27]:
string = "my name is rushikesh chavan"
title_string = string.title()
print(title_string)

My Name Is Rushikesh Chavan

### Q11. Count how many times each word appears in a sentence.

In [33]:
string = "i am not gone to i not gone am going to play"
string = string.split()
dic = {}
for i in string:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1

print(dic)

{'i': 2, 'am': 2, 'not': 2, 'gone': 2, 'to': 2, 'going': 1, 'play': 1}

### Q12. Remove all special characters from a string.

In [58]:
string = "rushi@#$%123%$#@chavan"
special_char = "@#$%^&*!"
for i in string:
    if i not in special_char:
        print(i, end='')

rushi123chavan

### Q14. Compress a string using run-length encoding (aaabb → a3b2).

In [13]:
string = "aaabbbcddcd"
r=[]
count=1
for i in range(1,len(string)):
    if string[i]==string[i-1]:
        count+=1
    else:
        r.append(string[i-1]+str(count))
        count=1

r.append(string[-1]+str(count))
''.join(r)

'a3b3c1d2c1d1'

### Q15. Find the longest substring without repeating characters.

In [25]:
a = 'adfgczxcv'
res = ''
for i in range(len(a)):
    s = ''
    for j in a[i:]:
        if j in s: break
        s += j
    if len(s) > len(res): 
        res = s
print(res)

adfgczx

### Q16. Swap case in a string (aBc → AbC).

In [31]:
a='AAcvb'
s=a.swapcase()
print(s)

aaCVB

### Q17. create dictionary in which keys are a to z and values are there ascii number.

In [1]:
d={}
for i in range(65,91):
    if chr(i) in d:
        d[chr(i)]=1
    else:
        d[chr(i)]=i

d

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

### Q18. Count vowels and consonants separately.

In [1]:
string="alliswell"
vowels="AEIOUaeiou"
vowel=[]
consonant=[]
for i in string:
    if i in vowels:
        vowel.append(i)
    else:
        consonant.append(i)
print(vowel)
print(consonant)

['a', 'i', 'e']
['l', 'l', 's', 'w', 'l', 'l']

### Q19. Find the second most frequent character in a string.

In [42]:
string = "aaaabbcccd"
from collections import Counter
a=dict(Counter(string))
sorted(a.values())[-2]

3

### put numbers after each characters in ascending and descending

In [28]:
string1='rushi'
# Ascending
string2=[]
for i in range(len(string1)):
    string2.append(string1[i])
    string2.append(i+1)
for i in string2:
    print(i,end='')
print()
# Descending
string3="Chavan"
string4=[]
for i in range(len(string3)):
    string4.append(string3[i])
    string4.append(len(string3)-i)
for i in string4:
    print(i,end='')

r1u2s3h4i5
C6h5a4v3a2n1

## List

### Sum of Elements in a List without using any in built function

In [10]:
l = [5,12,75,53,105,30,26]
count=0
for i in l:
    count+=i
print(count)

306

### Find Maximum Element in a List without using any in built function

In [9]:

l = [5,12,75,53,105,30,26]
a=l[0]
for i in l:
    if i>a:
        a=i
print(a)

105

### Count Number of Elements in a List without using any in built function

In [7]:
l = [5,12,75,53,105,30,26,5,12]
print(len(l))
count=0
for i in l:
    count+=1
count

9

9

### Sort a List in Ascending Order without using any in built function

In [6]:
l = [5,12,75,53,105,30,26,5,12]
a=0
for i in l:
    a+=1
# print(a)
for i in range(a):
    for j in range(a-1):
        if l[j]>l[j+1]:
            temp=l[j]
            l[j]=l[j+1]
            l[j+1]=temp
print(l)

[5, 5, 12, 12, 26, 30, 53, 75, 105]

### Find Second Largest Number in a List without using any in built function

In [3]:
l = [5,12,75,53,105,30,26,5,12]
largest=l[0]
for i in l:
    if i>largest:
        largest=i
second_largest=None
for i in l:
    if i != largest:
        if second_largest is None or i>second_largest:
            second_largest=i

print(second_largest)

75

### Check for Prime Number without using any in built function

In [ ]:
n=23
for i in range(2,n):
    if n%i==0:
        print('not prime')
        break
else:
    print('prime')

### Reverse a List without using any in built function

In [ ]:
l = [5,12,75,53,105,30,26]
n=0
for i in l:
    n+=1
i=n-1
while i>=0:
    print(l[i])
    i-=1

### Count Vowels in a String without using any in built function

In [2]:
string="vowelse"
vowels="aieou"
count=0
for i in string:
    if i in vowels:
        count+=1
print(count)

3

### Find the GCD of Two Numbers without using any in built function

In [11]:
a=30
b=12
factorsofa=[]
factorsofb=[]
for i in range(1,a):
    if a%i==0:
        factorsofa.append(i)
for i in range(1,b):
    if b%i==0:
        factorsofb.append(i)
print(factorsofa)
print(factorsofb)
gcd=[]
for i in factorsofa:
    if i in factorsofb:
        gcd.append(i)

largest=gcd[0]
for i in gcd:
    if i>largest:
        largest=i

largest

[1, 2, 3, 5, 6, 10, 15]
[1, 2, 3, 4, 6]

6

### Remove one element using lambda function

In [ ]:
l=[1,2,3,4]
s=list(filter(lambda x:x!=2, l))
print(s)

### check if the number is power of 2 or not

In [13]:
n=int(input(""))
if n>0 and (n & (n-1)) == 0:
    print('yes')
else:
    print('no')

 32

yes

### fibonacci series

In [ ]:
a,b=0,1
for i in range(6):
    print(a)
    a,b=b,a+b

### Q1. Find the second largest element in a list.

In [36]:
list_1=[1,9,8,4,5,6,7,5,6,7,1,3,2]
sort=sorted(list_1)
sort[-2]

8

### Q2. Find duplicates in a list and store them in another list.

In [41]:
list_1=[1,9,8,4,5,6,7,5,6,7,1,3,2]
dupli=[]
for i in list_1:
    if list_1.count(i)>1:
        dupli.append(i)
print(dupli)

[1, 5, 6, 7, 5, 6, 7, 1]

### Q3. Rearrange a list so that positive and negative numbers alternate.

In [49]:
list_1=[1,8,-4,-5,6,-7,5,-6,7,1,-3,-2]
pos=[]
neg=[]
for i in list_1:
    if i>=0:
        pos.append(i)
    else:
        neg.append(i)

res=[]
for i,j in zip(pos,neg):
    res.append(i)
    res.append(j)

res

[1, -4, 8, -5, 6, -7, 5, -6, 7, -3, 1, -2]

In [14]:
list_1=[1,8,-4,-5,6,-7,5,-6,7,1,-3,-2]
pos=[]
neg=[]
for i in list_1:
    if i>=0:
        pos.append(i)
    else:
        neg.append(i)

print(pos)
print(neg)
new=zip(pos,neg)
print(list(new))

[1, 8, 6, 5, 7, 1]
[-4, -5, -7, -6, -3, -2]
[(1, -4), (8, -5), (6, -7), (5, -6), (7, -3), (1, -2)]

### Q4. Create a list of squares of numbers without using loops.

In [24]:
list_1=[1,9,8,4,5,6]
a=map(lambda x:x**2, list_1)
list(a)

[1, 81, 64, 16, 25, 36]

### Q5. Find the difference between two lists.

In [32]:
list_1=[1,9,8,4,5,6]
list_2=[10,90,8,4,5,6]
new=list(set(list_1) ^ set(list_2))
new

[1, 90, 9, 10]

In [25]:
list_1=[1,9,8,4,5,6]
list_2=[10,90,8,4,5,6]
for i in list_1:
    if i not in list_2:
        print(i)

1
9

### Flatten nested list

In [ ]:
l1=[1, [2, 3], 4, [5, 6,[1,2,3]]]
l2=[]
for i in l1:
    if isinstance(i, list):
        for j in i:
            if isinstance(j,list):
                for k in j:
                    l2.append(k)
            else:
                l2.append(j)
    else:
        l2.append(i)

l2

### Q6. Sort a list of tuples by the second element.

In [44]:
a=[(1, -4), (8, -5), (6, -7), (5, -6), (7, -3), (1, -2)]
l=[]
s=[]
for i in a:
    l.append(i[1])
ll=sorted(l)
for i in a:
    s.append(i[0])
ss=sorted(s)
d=list(zip(ss,ll))
print(d)

[(1, -7), (1, -6), (5, -5), (6, -4), (7, -3), (8, -2)]

### Q7. Find the most frequent element in a list.

In [77]:
list_1=[1,9,8,4,5,6,1,2,3,1,5,89,8,65,2,5,5,4,3,5,5,]
d={}
for i in list_1:
    if i in d:
        d[i]+=1
    else:
        d[i]=1

print(d)
list_1.count(1)

{1: 3, 9: 1, 8: 2, 4: 2, 5: 6, 6: 1, 2: 2, 3: 2, 89: 1, 65: 1}

3

### Q8. Split a list into chunks of size n.

In [35]:
list_1=[1,9,8,4,5,6]
n=2
for i in range(0,len(list_1), n):
    print(list_1[i:i+n])

[1, 9]
[8, 4]
[5, 6]

### Q9. Find the longest increasing subsequence in a list.

In [52]:
num = [10, 22, 9, 33, 21, 50, 41, 60, 80]
seq=[]
for i in range(len(num)):
    for j in range(i, len(num)):
        if num[i]>num[j]:
            print(num[i])

10
22
22
33
50

### Q10. Remove all occurrences of a given element.

In [60]:
list_1=[1,9,8,4,5,6,1,2,3,1,5,89,8,65,2,5,5,4,3,5,5,]
list_1.remove(5)
list_1

[1, 9, 8, 4, 6, 1, 2, 3, 1, 5, 89, 8, 65, 2, 5, 5, 4, 3, 5, 5]

In [54]:
list_1=[1,9,8,4,5,6,1,2,3,1,5,89,8,65,2,5,5,4,3,5,5,]
for i in list_1:
    if i != 5:
        print(i,end=' ')

1 9 8 4 6 1 2 3 1 89 8 65 2 4 3

### Q11. Partition a list into even and odd numbers.

In [62]:
num = [10, 22, 9, 33, 21, 50, 41, 60, 80]
even=[]
odd=[]
for i in num:
    if i%2==0:
      even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[10, 22, 50, 60, 80]
[9, 33, 21, 41]

### Q12. Find the second largest element in a list.

In [64]:
num = [10, 22, 9, 33, 21, 50, 41, 60, 80]
sorted_num=sorted(num)
sorted_num[-2]

60

### Q14. Remove duplicates from a list without using set().

In [52]:
num = [10, 22, 9, 33, 21, 50, 41, 60, 80, 80,60,21,50]
unique=[]
for i in num:
    if num.count(i)<2:
        unique.append(i)

unique

[10, 22, 9, 33, 41]

### Q15. Find missing numbers in a range from a list.

In [66]:
l=[1,3,4,5,6,7,8,9,10]
for i in range(1,11):
    if i not in l:
        print(i)

2

### Q17. Find the product of all elements in a list.

In [65]:
num = [10, 22, 9]
count=1
for i in num:
    count*=i

count

1980

### Q18. Flatten a nested list.

In [47]:
a=[1,13,12,6,8]
for i in range(len(a)):
    for j in range(i, len(a)):
        if a[i]+a[j]==14:
            print(a[i], a[j])

1 13
6 8

### Q19. Find all pairs in a list that sum to a target value.

In [62]:
num = [10, 22,11,21,20,15]
for i in range(len(num)):
    for j in range(i+1, len(num)):
        if num[i]+num[j]==32:
            print(num[i],num[j])

10 22
11 21

### Q20. Find common elements between two lists.

In [64]:
list_1=[1,9,8,4,5,6]
list_2=[10,90,8,4,5,6]
for i in range(len(list_1)):
    for j in range(len(list_2)):
        if list_1[i]==list_2[j]:
            print(list_1[i],list_2[j])

8 8
4 4
5 5
6 6

### Q21. Merge two sorted lists into a single sorted list.

In [48]:
list_1=[1,9,8,4,5,6]
list_2=[10,90,8,4,5,6]
new_list=list_1+list_2
sorted_new=sorted(new_list)
print(sorted_new)

[1, 4, 4, 5, 5, 6, 6, 8, 8, 9, 10, 90]

# Tuple

### Find the index of an element in a tuple.

In [70]:
tup=(1,9,8,4,5,6)
tup.index(1)

0

### Convert a list to a tuple and vice versa.

In [72]:
tup=(1,9,8,4,5,6)
lis=list(tup)
print(lis)
print(tuple(lis))

[1, 9, 8, 4, 5, 6]
(1, 9, 8, 4, 5, 6)

### Count how many times a value appears in a tuple.`

In [74]:
tup=(1,9,8,4,5,6,6)
d={}
for i in tup:
    if i in d:
        d[i]+=1
    else:
        d[i]=1

d

{1: 1, 9: 1, 8: 1, 4: 1, 5: 1, 6: 2}

### Concatenate two tuples.

In [79]:
tup1=(1,9,8,4,5,6,6)
tup2=(32,2,58,5,5,6)
tup=tup1+tup2
tup

(1, 9, 8, 4, 5, 6, 6, 32, 2, 58, 5, 5, 6)

### Find the maximum and minimum element in a tuple.

In [81]:
tup1=(1,9,8,4,5,6,6)
print(min(tup1))
print(max(tup1))

1
9

### Sort a tuple of integers.

In [85]:
tup1=(1,9,8,4,5,6,6)
sort_tup=tuple(sorted(tup1))
sort_tup

(1, 4, 5, 6, 6, 8, 9)

### Replace an element in a tuple (hint: convert to list).

In [84]:
tup1=(1,9,8,4,5,6,6)
sorted(tup1)

[1, 4, 5, 6, 6, 8, 9]

### Check if all elements in a tuple are the same.

In [86]:
tup1=(6,6,6,6)
print(len(set(tup1))==1)

True

### Unpack a tuple into variables.

In [89]:
tup1=(1,5,6)
a,b,c=tup1
print('a =',a)
print('b =',b)
print('c =',c)

a = 1
b = 5
c = 6

### Create a tuple of single elements from a list.

In [97]:
tup1=[1,9,8,4,5,6,6]
for i in tup1:
    print(tuple((i,)))

(1,)
(9,)
(8,)
(4,)
(5,)
(6,)
(6,)

In [95]:
tup1=[1,9,8,4,5,6,6]
tuple((i,) for i in tup1)

((1,), (9,), (8,), (4,), (5,), (6,), (6,))

### Multiply all elements in a tuple.

In [100]:
tup1=(1,9,6)
count=1
for i in tup1:
    count*=i

count

54

In [99]:
tup1=(1,9,8,4,5,6,6)
for i in tup1:
    print(i*2)

2
18
16
8
10
12
12

### Find common elements between two tuples.

In [103]:
tup1=(1,9,8,4,5,6,6)
tup2=(10,9,18,14,12,6,4)
for i in range(len(tup1)):
    for j in range(len(tup2)):
        if tup1[i]==tup2[j]:
            print(tup[i])

9
4
6
6

### Remove duplicates from a tuple.

In [107]:
tup1=(1,9,8,4,5,6,6)
set(tup1)

{1, 4, 5, 6, 8, 9}

### Find the length of a tuple without using len().

In [111]:
tup1=(1,9,8,4,5,6,6)
length=0
for i,v in enumerate(tup1):
    length+=1

length

7

### Merge tuples into a dictionary.

In [112]:
tup1=(1,9,8,4,5,6,6)
tup2=(2,18,16,8,10,12,12)
dict(zip(tup1, tup2))

{1: 2, 9: 18, 8: 16, 4: 8, 5: 10, 6: 12}

### Create a tuple of tuples from a list of lists.

In [117]:
list_of_list=[[1, 2], [3, 4], [5, 6], [7, 8]]
tup=[]
for i in tup2:
    print(tuple((i)))
    tup.append(tuple((i)))

tuple(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

((1, 2), (3, 4), (5, 6), (7, 8))

### Reverse a tuple.

In [118]:
tup2=(2,18,16,8,10,12,12)
tup2[::-1]

(12, 12, 10, 8, 16, 18, 2)

### Slice a tuple.

In [128]:
tup2=(2,18,16,8,10,12,12)
tup2[0:]

(2, 18, 16, 8, 10, 12, 12)

### Check if a tuple is a palindrome.

In [130]:
tup2=(2,18,16,18,2)
if tup2[0:]==tup2[::-1]:
    print('this is palindrome')
else:
    print('not palindrome')

this is palindrome

### Create a tuple containing only unique elements.

In [50]:
tup2=(2,18,16,18,2)
tup3=(5,10,8,7,9)
tup=tuple(zip(tup2, tup3))
tup

((2, 5), (18, 10), (16, 8), (18, 7), (2, 9))

### Merge two dictionaries.

In [1]:
dic1={'c':3, 'd':4}
dic2={'a':1, 'b':2}
merge = dic1 | dic2
merge

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

### Sort a dictionary by keys.
### Sort a dictionary by values.

In [3]:
dic={'c':3, 'd':4,'a':1, 'b':2}
print(sorted(dic.keys()))
print(sorted(dic.values()))

['a', 'b', 'c', 'd']
[1, 2, 3, 4]

### Invert a dictionary (swap keys and values).

In [3]:
dic={1:'a'}
swap={v:k for k,v in dic.items()}
swap

{'a': 1}

### Find the key with the maximum value in a dictionary.

In [4]:
dic={'c':3, 'd':4,'a':1, 'b':2,'f':10}
max(dic.values())

10

### Remove a key from a dictionary.

In [10]:
dic={'c':3, 'd':4,'a':1, 'b':2,'f':10}
del dic['c']
dic

{'d': 4, 'a': 1, 'b': 2, 'f': 10}

### Update a value in a dictionary.

In [14]:
dic={'c':3, 'd':4,'a':1, 'b':2,'f':10}
dic['g']=12
dic['c']=6
dic

{'c': 6, 'd': 4, 'a': 1, 'b': 2, 'f': 10, 'g': 12}

### Check if a key exists in a dictionary.

In [15]:
dic={'c':3, 'd':4,'a':1, 'b':2,'f':10}
if 'a' in dic.keys():
    print(True)
else:
    print(False)

True

### Create a dictionary from two lists.

In [38]:
l1=[10,12,13,41]
l2=['ten', 'twelve', 'thirteen', 'fourtyone']
dic1={}
for k,v in zip(l2,l1):
    if k in dic1:
        dic1[k]=1
    else:
        dic1[k]=v

dic1

{'ten': 10, 'twelve': 12, 'thirteen': 13, 'fourtyone': 41}

### Create a nested dictionary.

In [45]:
dic1={'ten': 10, 'twelve': 12, 'thirteen': 13, 'fourtyone': 41}
dic2={'ten': 10, 'twelve': 12}
dic1['new_dict']=dic2
dic3=dic1
sum(dic3['new_dict'].values())

22

### Flatten a nested dictionary.

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

### Find the sum of all values in a dictionary.

### Count word frequency in a sentence using a dictionary.

### Filter dictionary by values greater than a given number.

### Get all keys with the same value in a dictionary.

### Remove all items from a dictionary.

### Create a dictionary with default values using fromkeys().

### Combine multiple dictionaries into one.

### Create a dictionary of squares from 1 to n.